@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,900&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxkb-CTcZPIqjO7WZXO_evTLOxuyASD4NbvA&usqp=CAU);
  background-position: center;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: 5rem;
  font-weight: bolder;
  margin-top: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}
.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 5rem;
  line-height: 0.75;
  margin: 0rem 3rem;
  background: -webkit-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cd-el {
  text-align: center;
  background: -webkit-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cd-el span {
  font-size: 1.5rem;
}
.backgrounds {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  padding: 0.5rem;
  margin: 0.5rem;
}
